@import './mediaQueries';
@import './introBox';

@mixin counterAppBtn($duration){
    transition: {
        property: border, color;
        duration: $duration;
        timing-function: ease-out;
    }
    color: #f07bff;
    border: 2px solid transparent;
    &:hover, &:focus {
        transition: {
            property: border, color;
            duration: $duration;
            timing-function: ease-out;
        }
        color: #731880;
        border: 2px solid #f07bff;
        cursor: pointer;
    }
}


.counterApp{
    @include border-radius(10px);
    background-color: #fac9ef;
    padding: 3rem 0;
    box-shadow: 15px 15px 0px 5px rgb(240, 171, 234) ;
    transition: box-shadow ease 0.3s;
    &:hover, &:focus{
        box-shadow: 0px 0px 0px 20px rgb(240, 171, 234);
        transition: box-shadow ease 0.3s;
    }
}


.counterBtn{
    appearance: none;
    outline: none;
    background: none;
    margin: 0.5rem 0.5rem;
    padding: 0.3rem 0.6rem;
    font: {
        size: 1.3rem;
        family: 'Courier New', Courier, monospace;
    };
    background-color: #f9dfff;
    @include border-radius(1rem);
    @include counterAppBtn(0.3s);
    &:active{
        background-color: #d5b3dd;
    }

}
strong{
    text-align: center;
    display: inline-block;
    min-width: 5rem;
    
    font : {
        size: 2rem;
        family: 'Courier New', Courier, monospace;
    }
    position: relative;
    top: 0.2rem;
}

.inputAmount{
    width: 20rem;
    margin: auto;
    padding: 0.5rem;
    background-color: #f9dfff;
    display: flex;
    @include border-radius(5px);
    @include counterAppBtn(0.3s);
    label{
        font: {
            weight: bold;
            size: 1.8rem;
            family: 'Courier New', Courier, monospace;
        };
        margin: 0 1rem;
    }
    input[type="text"]{
        outline: none;
        text-align: center;
        width: 10rem;
        font : {
            weight: normal;
            size: 1.5rem;
            family: 'Courier New', Courier, monospace;
        }
        border: 2px solid #f07bff;
        float: right;
        
    }

}





@include mobile{
    .counterApp{
        box-shadow: 7px 7px 0px 3px rgb(240, 171, 234) ;
        &:hover, &:focus{
            box-shadow: 0px 0px 0px 10px rgb(240, 171, 234);
        }
    }
    .inputAmount{
        width: 15rem;
        label{
            font-size: 1.4rem;
            position: relative;
            top: 0.15rem;
        }
        input[type="text"]{
            width: 7rem;
        }
    }

}

@include tablet{
    .counterApp{
        box-shadow: 11px 11px 0px 4px rgb(240, 171, 234) ;
        &:hover, &:focus{
            box-shadow: 0px 0px 0px 15px rgb(240, 171, 234);
        }
    }
    .inputAmount{
        width: 17rem;
        label{
            font-size: 1.6rem;
            position: relative;
            top: 0.17rem;
        }
        input[type="text"]{
            width: 8rem;
        }
    }
}